<h1>Coin Combinations</h1>
<form action="/coin-form">
  <div class="form-group">
     <label for="coin">Coin Change!</label>
     <input id="coin" name="coin" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Make Change</button>
</form>
